* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
}

body {
  font-size: 14px;
  color: #353535;
  line-height: 28px;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ab7442;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* BOTONES */

.btn-theme {
  background-color: #ab7442 !important;
  color: #ffffff !important;
  border-color: #ab7442 !important;
  transition: all 0.5s ease;
}

.btn-theme:hover {
  background-color: #ffffff !important;
  color: #ab7442 !important;
  border-color: #ab7442 !important;
  transition: all 0.5s ease;
}
