.footer-content {
  color: white;
}

.footer-content .resume{
  padding-bottom: 25px;
}

.footer-content .footer-title a{
  font-size: 25px !important;
	color: white;
	text-decoration: none;
	font-family: 'PPWoodland';
	font-size: xx-large;
} 

.footer-contact ul li a {
  text-decoration: none !important;
  color: white;
}


.footer-contact ul li a:hover {
  text-decoration: none;
  color: #ab7442;
}


.footer-content .categories ul li a {
  text-decoration: none;
  color: white;
}


.footer-content .categories ul li a:hover {
  text-decoration: underline;
  color: #ab7442;
}