/* SUBMENU */
.header-bg {
	background-color: #353535;
}
.nav-title {
	font-size: 30px !important;
	color: #353535;
	text-decoration: none;
	font-family: 'PPWoodland';
	font-size: xx-large;
}
.navbar-menu {
	position: relative;
	margin: 0px;
	font-family: "Montserrat", sans-serif;
	li {
		position: relative;
		float: left;
		padding: 35px 0px;
		margin-right: 35px;
		transition: all 300ms ease;
		a {
			text-decoration: none;
			position: relative;
			display: block;
			text-align: center;
			opacity: 1;
			font-weight: 500;
			color: #353535;
			font-size: 18px;
			line-height: 30px;
			padding: 0;
			transition: all 300ms ease;
			&:before {
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
				content: "";
				background-color: #ab7442;
				-webkit-transform: scale(0, 1);
				-ms-transform: scale(0, 1);
				transform: scale(0, 1);
				-webkit-transform-origin: top right;
				-ms-transform-origin: top right;
				transform-origin: top right;
				transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
				transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
			}
		}
		&:hover {
			a {
				color: #ab7442;
				&:before {
					transform: scale(1, 1);
					transform-origin: bottom left;
				}
			}
		}
	}
	li.current {
		a {
			color: #ab7442;
			&:before {
				transform: scale(1, 1);
				transform-origin: bottom left;
			}
		}
	}
}
.navigation {
	li {
		ul {
			position: absolute;
			left: 0px;
			top: 100%;
			width: 250px;
			padding: 20px 15px;
			z-index: 100;
			background: #ffffff;
			opacity: 1;
			transform: scaleY(0);
			transform-origin: top;
			transition: all 300ms ease;
			box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
			li {
				position: relative;
				width: 100%;
				&:last-child {
					border-bottom: none;
				}
				a {
					position: relative;
					display: block;
					padding: 5px 10px;
					line-height: 30px;
					font-weight: 500;
					font-size: 16px;
					color: #353535;
					text-align: left;
					white-space: nowrap;
					text-transform: capitalize;
					transition: all 200ms ease;
				}
				&:hover {
					a {
						color: #ffffff;
						background-color: #ab7442;
					}
				}
				ul {
					position: absolute;
					left: 100%;
					top: 0%;
					width: 250px;
					padding: 20px 15px;
					z-index: 100;
					opacity: 1;
					background: #ffffff;
					margin-left: 15px;
					margin-top: -20px;
					transform: scaleX(0);
					transform-origin: left;
					transition: all 300ms ease;
					box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
					li {
						position: relative;
						width: 100%;
						&:last-child {
							border-bottom: none;
						}
						a {
							position: relative;
							display: block;
							padding: 5px 10px;
							line-height: 30px;
							font-weight: 500;
							font-size: 16px;
							color: #353535;
							text-align: left;
							white-space: nowrap;
							text-transform: capitalize;
							transition: all 200ms ease;
							&:hover {
								color: #ffffff;
								background-color: #ab7442;
							}
						}
					}
				}
			}
			li.dropdown {
				a {
					&:after {
						font-family: "Font Awesome 5 Free";
						content: "\f105";
						position: absolute;
						right: 10px;
						top: 10px;
						display: block;
						line-height: 20px;
						font-size: 16px;
						font-weight: 900;
						z-index: 5;
					}
				}
				&:hover {
					ul {
						transform: scaleX(1);
						visibility: visible;
						opacity: 1;
						transition: all 500ms ease;
					}
				}
			}
		}
		ul.from-right {
			left: auto;
			right: 0px;
		}
	}
	li.dropdown {
		&:hover {
			ul {
				transform: scaleY(1);
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}
}
