.header-contact {
	.img-message {
		content: url("../assets/icon/global/message_16.png");
	}
	.img-phone {
		content: url("../assets/icon/global/phone-16.png");
	}
}
.header-social {
	.img-facebook {
		content: url("../assets/icon/social/facebook-16.png");
		&:hover {
			content: url("../assets/icon/social/facebook-16-b.png");
		}
	}
	.img-linkedin {
		content: url("../assets/icon/social/linkedin-16.png");
		&:hover {
			content: url("../assets/icon/social/linkedin-16-b.png");
		}
	}
	.img-instagram {
		content: url("../assets/icon/social/instagram-16.png");
		&:hover {
			content: url("../assets/icon/social/instagram-16-b.png");
		}
	}
	.img-twitter {
		content: url("../assets/icon/social/twitter-16.png");
		&:hover {
			content: url("../assets/icon/social/twitter-16-b.png");
		}
	}
}
.footer-contact {
	.img-message {
		content: url("../assets/icon/global/message-16-b.png");
		padding-right: 2px;
	}
	.img-phone {
		content: url("../assets/icon/global/phone-16-b.png");
		padding-right: 2px;
	}
	.img-map {
		content: url("../assets/icon/global/map-marker-16-b.png");
		padding-right: 2px;
	}
}
.footer-social {
	.img-facebook {
		content: url("../assets/icon/social/facebook-24.png");
		&:hover {
			content: url("../assets/icon/social/facebook-24-b.png");
		}
	}
	.img-linkedin {
		content: url("../assets/icon/social/linkedin-24.png");
		&:hover {
			content: url("../assets/icon/social/linkedin-24-b.png");
		}
	}
	.img-instagram {
		content: url("../assets/icon/social/instagram-24.png");
		&:hover {
			content: url("../assets/icon/social/instagram-24-b.png");
		}
	}
	.img-twitter {
		content: url("../assets/icon/social/twitter-24.png");
		&:hover {
			content: url("../assets/icon/social/twitter-24-b.png");
		}
	}
}
.footer-content {
	.img-arrow {
		content: url("../assets/icon/global/arrow-16-b.png");
	}
}
